/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
/* @import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css'); */


body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f9;
  margin: 0;
  gap: 8px;
}



#datetime-picker {
  width: 272px;
  height: 40px;
  gap: 8px;
  padding: 8px 16px;
  margin-bottom: 20px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

#datetime-picker:focus {
  border: 1px solid #4e75ff;
  outline: none;
}

#datetime-picker:hover {
  border: 1px solid #000000;
}

.start-btn[data-start] {
  width: 75px;
  height: 40px;
  padding: 8px 16px;
  background-color: #4e75ff;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  justify-content: center;
  margin: 0;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.start-btn[data-start]:disabled {
  background-color: #CFCFCF;
  cursor: not-allowed;
  color: #989898;
}

.start-btn[data-start]:hover:not(:disabled) {
  background-color: #6C8CFF;
}

.timer {
  display: flex;
  gap: 24px;
  margin-top: 32px;
  width: 346px;
  height: 72px;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.field {
  text-align: center;
}

.value {
  font-family: 'Montserrat', sans-serif;
  display: block;
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
  color: #2e2f42;
  gap: 24px;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #2e2f42;
}

/* Стилі для загальної оболонки календаря */
.flatpickr-calendar {
  background-color: #F5F5F5;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  font-family: 'Montserrat', sans-serif;
  height: 280px;
  width: 352px;
  padding: 16px;
}

/* Стилі для заголовка календаря (місяць/рік) */
.flatpickr-months .flatpickr-month {
  background-color: #F5F5F5;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 0;
}

/* Стилі для днів тижня (Пн, Вт, Ср і т.д.) */
.flatpickr-weekdays {
  background-color: #F5F5F5;
  color: #2E2F42;
  font-size: 16px;
  line-height: 24px;
}

/* Стилі для чисел (днів місяця) */
.flatpickr-day {
  width: 10px;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  border-radius: 4px;
  color: #666666;
  transition: background-color 0.3s, color 0.3s;
}

/* Стиль для активного дня */
.flatpickr-day.selected {
  border: 1px solid #4e75ff;
}

/* Стиль для днів, що не входять в поточний місяць */
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay {
  color: #C1C1C1;
}

/* Стиль для ховера по дням */
.flatpickr-day:hover {
  background-color: #C1C1C1;
  color: #666666;
}

/* Стиль для кнопки "Today" */
.flatpickr-footer .flatpickr-today {
  background-color: #4E75FF;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  /* padding: 5px 10px; */
}

.iziToast.error {
  width: 302px;
  height: 64px;
  background-color: #EF4040;
  border: 2px solid #FFBEBE;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.iziToast.success {
  width: 383px;
  height: 64px;
  background-color: #59a10d;
  border: 2px solid #b5ea7c;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 4px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  max-width: 360px;
  width: 100%;
}

.form_label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #2e2f42;
  font-family: 'Montserrat', sans-serif;
  line-height: 24px;
}

.form_input[type="number"],
.form_input[type="radio"] {
  margin-right: 10px;
}

.form_input[type="number"] {
  padding: 10px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  box-sizing: border-box;
}

.form_input[type="number"]:hover {
  border: 1px solid #000000;
}

.form_input[type="number"]:active {
  border: 1px solid #4e75ff;
}

.form_fieldset {
  border: 1px solid #808080;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 64px;
  background-color: #ffffff;
  margin-bottom: 24px;
  gap: 48px;
}

.form_legend {
  /* font-weight: bold; */
  margin-bottom: 10px;
  font-size: 16px;
  color: #2e2f42;
  font-family: 'Montserrat', sans-serif;
  line-height: 24px;
}

.form-point {
  width: 12px;
  height: 12px;
  border-radius: 14px;
}

.form-point:hover {
  background-color: #4e75ff;
}

.form_button {
  background-color: #4e75ff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  width: 360px;
  height: 40px;
  gap: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.form_button:hover {
  background-color: #6c8cff;
}